body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.mx{
  margin: 0px;
  padding: 15px;
  flex: 0 0 10.333333%;
  max-width: 16.333333%;
}
.i18, .i19, .i20, .i21, .i22, .i23, .i24, .i25, .i26,
.i45, .i46, .i47, .i48, .i49, .i50, .i51, .i52, .i53{
  border-bottom: 1px solid #222222!important;
}
.i2, .i5, .i11, .i14, .i20, .i23, .i29, .i32, .i38,
.i41, .i47, .i50, .i56, .i59, .i65, .i68, .i74, .i77{
  border-right: 1px solid #222222!important;
}


#html-spinner{
  width:80px;
  height:80px;
  border:4px solid #fcd779;
  border-top:4px solid white;
  border-radius:50%;
}

#html-spinner, #svg-spinner{
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.2s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  
  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate; 
  -moz-animation-duration: 1.2s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  
  transition-property: transform;
  animation-name: rotate; 
  animation-duration: 1.2s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}